
if [ -f "$HOME/.local/bin/env" ]; then
  . "$HOME/.local/bin/env"
fi
case ":$PATH:" in
  *":$HOME/.local/bin:"*) ;;
  *) export PATH="$HOME/.local/bin:$PATH" ;;
esac

source <("$HOME/.local/bin/fzf" --zsh)

source "$HOME/.zsh/plugins/zsh-autosuggestions/zsh-autosuggestions.zsh"

source "$HOME/.zsh/plugins/zsh-syntax-highlighting/zsh-syntax-highlighting.zsh"
